<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" th:with="isEdit=${photo.id != null}">
<head>
    <th:block th:with="x=${isEdit ? 'Edit photo' : 'Update new photo'}" th:insert="~{fragments/head :: head(title=${x})}"></th:block>
</head>
<body>

<header th:with="x=${isEdit ? 'Edit photo' : 'Update new photo'}" th:replace="~{fragments/macro/header :: header(${x}, ${area})}"></header>

<div th:object="${photo}">
    <form enctype="multipart/form-data" th:with="actionUrl=${isEdit ? '/edit/'+photo.id : 'create'}" id="create-photo" method="POST" th:action="@{${actionUrl}}">


        <div>
            <label th:for="title">Photo title</label>
            <input type="text" id="title" th:field="*{title}" th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('title')}">
                <ul>
                    <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div>
            <label th:for="visible">Photo visible</label>
            <input type="checkbox" id="visible" th:field="*{visible}" th:value="true" th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('visible')}">
                <ul>
                    <li th:each="err : ${#fields.errors('visible')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div>
            <label th:for="image" class="form-label">Photo url</label>
            <input type="text" id="image" step="any" th:field="*{image}" th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('image')}">
                <ul>
                    <li th:each="err : ${#fields.errors('image')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>


        <div>
            <h5>Categories</h5>
            <div th:each="category : ${categoryList}">
                <input type="checkbox" th:value="${category.id}" th:id="|category_${category.id}|" th:field="*{categories}">
                <label th:for="|category_${category.id}|" th:text="${category.name}">
                </label>
            </div>
        </div>


        <label th:for="description">Photo description</label>
        <textarea id="description" rows="10" th:field="*{description}" th:errorClass="is-invalid"></textarea>
        <div th:if="${#fields.hasErrors('description')}">
            <ul>
                <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
            </ul>
        </div>


        <div>
            <button type="submit">Save</button>
            <a th:href="@{/}">Cancel</a>
        </div>
    </form>
</div>

</body>
</html>