<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
  <th:block th:insert="fragments/head :: head(title='Photo detail')"></th:block>
</head>
<body>

<header th:replace="fragments/macro/header :: header('Photo detail', ${area})"></header>

<div th:object="${photo}">
  <hr>
  <h2>
    <span th:text="${photo.title}"></span>
    <span th:if="${photo.visible}">_x_</span>
  </h2>

  <p th:text="${photo.description}"></p>

  <img th:src="${photo.image}" alt="image">

  <ul th:each="cat : ${photo.categories}">
    <li th:text="${cat.name}"></li>
  </ul>
  <hr>
</div>

</body>
</html>