<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head :: head(title='Categories')"></th:block>
</head>
<body>

<header th:replace="fragments/macro/header :: header('Categories', ${area})"></header>

<div th:object="${category}">
    <form enctype="multipart/form-data" id="create-category" method="POST" th:action="@{/category/create}">

        <div>
            <label th:for="name">Category name</label>
            <input type="text" id="name" th:field="*{name}" th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('name')}">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div>
            <label th:for="description">Category description</label>
            <textarea id="description" rows="10" th:field="*{description}" th:errorClass="is-invalid"></textarea>
            <div th:if="${#fields.hasErrors('description')}">
                <ul>
                    <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>


        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</div>

<div>
    <h3 th:text="${message}"></h3>
</div>

<div th:unless="${categoryList.size() > 0}">
    <h2>
        no categories
    </h2>
</div>

<div th:each="cat : ${categoryList}">
    <hr>
    <h2>
        <span th:text="${cat.name}"></span>
    </h2>

    <p th:text="${cat.description}"></p>

    <br>
    <div>
        <form method="POST" th:action="@{/category/delete/{id}(id=${cat.getId()})}" onsubmit="return confirm('Are you sure?')">
            <button type="submit"> delete </button>
        </form>
    </div>
    <hr>
</div>

</body>
</html>