<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="navigation(area)">


    <ul>
        <li>
            <a th:classAppend="${area == 'photo-list' ? 'active' : ''}" th:href="@{/}">photo list</a>
        </li>
        <li>
            <a th:classAppend="${area == 'photo-create' ? 'active' : ''}" th:href="@{/create}">upload photo</a>
        </li>
        <li>
            <a th:classAppend="${area == 'category-list' ? 'active' : ''}" th:href="@{/category}">categories</a>
        </li>
    </ul>

</nav>
</body>
</html>